$mainColor:#5383FF;
$textPrimary:#212529;
$textTitle:#525252;
$textContent:#747474;

@mixin xl-screen{
    @media (max-width:1440px) {
        @content;
    } 
}

@mixin lg-screen{
    @media (max-width:1024px) {
        @content;
    } 
}
@mixin pad-max{
    @media (max-width:992px) {
        @content;
    } 
}

@mixin xd{
    @media (max-width:768px) {
        @content;
    } 
}

@mixin phone{
    @media (max-width:512px) {
        @content;
    }   
}